@media screen and (max-width: 479px) {
    #menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .menu-mobile {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        animation: menuShow linear 0.1s;
    }

    .menu-mobile.show {
        display: block;
    }

    @keyframes menuShow {
        from {
            opacity: 0.2;
            margin-left: -20px;
        }

        to {
            opacity: 1;
            margin-left: 0px;
        }
    }

    #nav {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .meta-item {
        display: none;
    }

    #menu {
        position: sticky;
        top: 0px;
        display: flex;
    }

    .combo__left {
        margin-top: 0;
    }

    .w-100 {
        display: block;
    }

    .close-icon,
    .btn-menu-icon,
    .btn-menu-mobile {
        display: block;
    }

    .store-coffe {
        width: 100%;
        padding-right: 15px;
        padding-left: 36px;
        margin-right: auto;
    }

    html {
        margin-right: -40px;
    }

    footer {
        margin-right: -19px;
    }

    /* #banner {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    } */
    .footer_facebook {
        height: 200px;
        width: 100%;
    }


    .cart {
        width: 300px; 
        margin: 0 auto;
        text-align: center;
    }

    .header__meta-list{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-mobile {
        display: none;
    }

    .w-100 {
        display: block;
    }

    ul#nav {
        display: none;
    }

    .footer_facebook {

        margin-bottom: 10px;
    }
}